{% load static %}
<section class="rsvp">
  <div class="container">
    <h2>RSVP</h2>
    <p>Please enter your access code to access your invitation details:</p>
    <form method="post" action="{% url 'find_invitation' %}">
      {% csrf_token %}
      <div class="form-group">
        <!-- <label for="access_code">Access Code</label> -->
        <input type="text" class="form-control" id="access_code" name="access_code" width="relative" required>
      </div>
      <button type="submit" class="btn btn-primary">Find My Invitation</button>
    </form>
  </div>
</section>
