<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                Nicole and Jack met at the bus stop in 9th grade, right after he accidentally sprayed her while fighting over a water bottle with a friend (whoops). 
                They started getting to know each other, playing video games, and ultimately dating for a few months before an inevitable teenage heartbreak ensued. 
                Jack was careless, and Nicole wasn't sure the world would ever be the same. 
            </p>
            <p>
                They grew apart for almost a decade, forging their unique identities and lived experiences, but fate had other plans. It cannot be overstated how frequently they ran into each other. 
                Fortuitous encounters at restaurants, airports, and random buildings on UT campus were comical at times, but became a comforting constant in their lives. 
                After a single date in April 2019, it was history. They've lived through a global pandemic, moving in together, Snowmageddon, boil notices, (multiple) cross-country moves, career changes, 
                and countless adventures since then, and are so excited to continue their journey as partners for life.
            </p>
        </div>
    </div>
</div>
