<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Victoria, British Columbia</h2>
            <hr class="primary">
            <h3>Getting There</h3>
            <p>Victoria is located on the southern tip of Vancouver Island, just north of the U.S.–Canada border and across the water from Seattle.</p>
			<p>
                Guests traveling from the United States may find it most convenient to fly to Victoria International Airport (YYJ) via Seattle (SEA) or Vancouver (YVR), 
                or to take a seaplane flight from downtown Seattle to Victoria’s Inner Harbour. Another popular option is the FRS Clipper passenger 
                ferry, which runs from downtown Seattle directly to downtown Victoria. These sea and air routes avoid driving and offer a scenic 
                approach to the city. Please remember to bring a valid passport and allow time for customs and border processing.
            </p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                We are able to offer discounted rates at both the Fairmont Empress and the Marriott Inner Harbour for our guests.
                Please see the details below for booking information.
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Fairmont Empress</th>
                    <td>
                        Conveniently located in the middle of the harbour, the iconic Fairmont Empress Hotel serves as an emblem of Victoria itself. 
                        <i>This is our favorite hotel in the world</i>, we strongly recommend staying here if you are able. You can book a discounted rate
                        <a href="https://book.passkey.com/go/RademacherMeyerWedding">by using this special link.</a>
                    </td>
                </tr>
                <tr>
                    <th>Marriott Inner Harbour</th>
                    <td>
                        The Marriott Inner Harbour is very close to the Fairmont Empress, just a block away. Apart from that, it offers all the familiarities of any Marriott.
                        We are able to offer a discounted rate here as well, by entering Group Code <code>NJWNJWA</code> or booking via <a href="https://link.edgepilot.com/s/2b9b4ca3/3lNo5B4YxkOW71Eb_q9SmQ?u=https://app.marriott.com/reslink?id=1764715750173%26key=GRP%26app=resvlink">this special link</a>.
                    </td>
                </tr>
            </table>
            <hr class="primary">
            <h3>Things to Do</h3>
            <p>There's no shortage of things to do in Victoria! Some ideas are listed below.</p>
            <h4>Eat</h4>
            <p>
                ...
            </p>
            <h4>Drink</h4>
            <p>
                ...
            </p>
            <h4>Walking tours</h4>
            <p>
                ...
            </p>
            <h4>Butchart Gardens</h4>
            <p>
                ...
            </p>
            <h4>Spa</h4>
            <p>
                ...
            </p>
            <h4>Shopping</h4>
            <p>
                ...
            </p>
        </div>
    </div>
</div>
